* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Playfair Display", serif;
}

main {
  /* Pienso cambiar el background pero no he 
  encontrado el fondo que sea adecuado */
  background-color: #121212;
  color: white;
  padding: 2rem 0;
}

header {
  font-size: 1.2rem;
  border-bottom: 2px solid white;
}
header .bg-header {
  /* Cambio de color al fondo del modelo de bootstrap */
  background-color: #ffde59;
}
header .navbar-brand img {
  position: relative;
  left: 1rem;
  width: 10rem;
}
header #navbarNav {
  /* Mover la seccion navegable a la derecha */
  justify-content: end;
}
header #navbarNav ul li .nav-link {
  color: black;
}
header #navbarNav ul li .nav-link.active {
  background-color: #e8c22c;
  font-weight: bolder;
  border-radius: 5px;
}
header #navbarNav ul li a:hover {
  /* Cambio de forma al pasar por el boton */
  font-weight: bolder;
  transition: 1s;
}

.inicio-container .carousel-item img {
  /* Propiedades para las imagenes del carrusel */
  width: 100%;
  height: 40rem;
  filter: blur(3px);
}
.inicio-container .textoimagencentro {
  position: relative;
  bottom: 25rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.inicio-container .textoimagencentro h1 {
  font-size: 3rem;
}
.inicio-container .textoimagencentro p {
  font-size: 1.5rem;
}
.inicio-container .textoimagencentro .boton-contratar {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid #ffde59;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  background-color: #ffde59;
}
.inicio-container .textoimagencentro .boton-contratar:hover {
  font-weight: bolder;
  background-color: #e8c22c;
  border: 1px dotted #e8c22c;
  transition: 1s;
}
.inicio-container .texto-promo {
  font-size: 1.5rem;
  margin: 0 20rem;
  position: relative;
  bottom: 6rem;
  border: 1px dotted white;
}

footer {
  background-color: #ffde59;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-top: 2px solid white;
}
footer .contacto {
  padding-top: 0.5rem;
}
footer .contacto ul li {
  list-style: none;
  position: relative;
  right: 1.5rem;
}
footer .contacto ul li a {
  color: black;
  text-decoration: none;
}
footer .contacto ul li a:hover {
  font-weight: bolder;
  transition: 1s;
}
footer .contacto ul li a img {
  width: 1rem;
}
footer .logofooter img {
  width: 10rem;
}

.servicios-main h1 {
  font-size: 3rem;
}
.servicios-main .cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.servicios-main .cartas .card {
  margin: 1rem;
}
.servicios-main .cartas .card .card-body {
  color: white;
  background-color: black;
}
.servicios-main .cartas .card .card-body .card-title {
  font-size: 2rem;
  text-decoration: underline;
}
.servicios-main .cartas .card .card-body .card-text {
  font-size: 1.5rem;
}
.servicios-main .cartas .card .card-body img {
  width: 5rem;
}
.servicios-main .cartas .card .card-body .boton-contratar {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid #ffde59;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  background-color: #ffde59;
}
.servicios-main .cartas .card .card-body .boton-contratar:hover {
  font-weight: bolder;
  background-color: #e8c22c;
  border: 1px dotted #e8c22c;
  transition: 1s;
}
.servicios-main .proximamente img {
  width: 100%;
  height: 20rem;
  margin-top: 3rem;
  filter: blur(2px);
}
.servicios-main .proximamente h2 {
  font-size: 3rem;
  color: black;
  position: relative;
  bottom: 11rem;
}

.sobrenosotros-main .texto-sobrenosotros h1 {
  font-size: 1.5rem;
}
.sobrenosotros-main .texto-sobrenosotros p {
  font-size: 1.2rem;
}
.sobrenosotros-main video {
  margin-top: 10rem;
}
.sobrenosotros-main .faq {
  padding: 2rem;
  margin-top: 2rem;
}
.sobrenosotros-main .faq .faq-titulo {
  padding-bottom: 1rem;
}
.sobrenosotros-main .faq .accordion .accordion-item .accordion-header .accordion-button {
  background-color: #ffde59;
}
.sobrenosotros-main .faq .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: #e8c22c;
  font-weight: bolder;
}
.sobrenosotros-main .faq .accordion .accordion-item .accordion-body {
  background-color: black;
  color: white;
}

.testimonios-main .titulo-testimonios {
  font-size: 3rem;
  padding-bottom: 2rem;
}
.testimonios-main .cartas .cartas-arriba, .testimonios-main .cartas .cartas-abajo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.testimonios-main .cartas .cartas-arriba .card, .testimonios-main .cartas .cartas-abajo .card {
  background-color: black;
  color: white;
  margin: 1rem;
}
.testimonios-main .cartas .cartas-arriba .card .card-body .card-title, .testimonios-main .cartas .cartas-abajo .card .card-body .card-title {
  align-items: center;
  font-size: 1.2rem;
}
.testimonios-main .cartas .cartas-arriba .card .card-body .card-title img, .testimonios-main .cartas .cartas-abajo .card .card-body .card-title img {
  width: 3rem;
  padding-right: 1rem;
}
.testimonios-main .comentarios-gente {
  margin-top: 2rem;
}
.testimonios-main .comentarios-gente h2 {
  padding-bottom: 1rem;
}
.testimonios-main .comentarios-gente .formulario {
  width: 50%;
  position: relative;
  left: 25%;
}
.testimonios-main .comentarios-gente .formulario .form-control {
  background-color: #ffde59;
}
.testimonios-main .comentarios-gente .formulario .form-select {
  background-color: #ffde59;
}
.testimonios-main .comentarios-gente .formulario .label-fonts {
  font-size: 1.3rem;
}
.testimonios-main .comentarios-gente .formulario .boton-enviar {
  background-color: #ffde59;
  color: black;
  padding: 0.5rem;
  border-radius: 5px;
}
.testimonios-main .comentarios-gente .formulario .boton-enviar:hover {
  font-weight: bolder;
  background-color: #e8c22c;
  transition: 1s;
}

@media (max-width: 575.98px) {
  .inicio-container .carousel-item img {
    height: 20rem;
  }
  .inicio-container .textoimagencentro {
    position: relative;
    bottom: 15rem;
  }
  .inicio-container .textoimagencentro h1 {
    font-size: 1.5rem;
  }
  .inicio-container .textoimagencentro p {
    font-size: 1rem;
  }
  .inicio-container .textoimagencentro .boton-contratar {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ffde59;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    background-color: #ffde59;
  }
  .inicio-container .textoimagencentro .boton-contratar:hover {
    font-weight: bolder;
    background-color: #e8c22c;
    border: 1px dotted #e8c22c;
    transition: 1s;
  }
  .inicio-container .texto-promo {
    font-size: 0.5rem;
    margin: 0 0;
    position: relative;
    bottom: 6rem;
    border: 1px dotted white;
  }
  footer {
    justify-content: center;
  }
  footer .derecho {
    padding-bottom: 1rem;
  }
  .sobrenosotros-main video {
    width: 18rem;
  }
}
@media (max-width: 767.98px) {
  .inicio-container .texto-promo {
    font-size: 1.5rem;
    margin: 0 0;
    position: relative;
    bottom: 6rem;
    border: 1px dotted white;
  }
  .testimonios-main .comentarios-gente .formulario {
    width: 90%;
    position: relative;
    left: 5%;
  }
}
@media (max-width: 991.98px) {
  .inicio-container .texto-promo {
    font-size: 1.5rem;
    margin: 0 0;
    position: relative;
    bottom: 6rem;
    border: 1px dotted white;
  }
}
@media (max-width: 1199.98px) {
  .inicio-container .texto-promo {
    font-size: 1.5rem;
    margin: 0 0;
    position: relative;
    bottom: 6rem;
    border: 1px dotted white;
  }
}

/*# sourceMappingURL=style.css.map */
