@keyframes color-botones {
  0% {
    background-color: #ffde59;
  }
  50% {
    background-color: #e8c22c;
  }
  100% {
    background-color: #ffde59;
  }
}
@keyframes opacidadletras {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes movimiento-titulos {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes escala {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Playfair Display", serif;
}

main {
  background-image: url(../IMG/background-01.jpg);
  color: white;
  padding: 2rem 0;
}

header {
  font-size: 1.2rem;
  border-bottom: 2px solid white;
}
header .bg-header {
  /* Cambio de color al fondo del modelo de bootstrap */
  background-color: #ffde59;
}
header .navbar-brand img {
  position: relative;
  left: 1rem;
  width: 10rem;
}
header #navbarNav {
  /* Mover la seccion navegable a la derecha */
  justify-content: end;
}
header #navbarNav ul li .nav-link {
  color: black;
}
header #navbarNav ul li .nav-link.active {
  background-color: #e8c22c;
  font-weight: bolder;
  border-radius: 5px;
}
header #navbarNav ul li a:hover {
  /* Cambio de forma al pasar por el boton */
  font-weight: bolder;
  transition: 1s;
}

.inicio-container .carousel-item img {
  /* Propiedades para las imagenes del carrusel */
  width: 80%;
  height: 40rem;
  transform: translateX(13%);
  filter: blur(3px);
}
.inicio-container .textoimagencentro {
  transform: translate(190%, -200%);
  padding: 2rem;
  width: fit-content;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.inicio-container .textoimagencentro h1 {
  font-size: 3rem;
  animation-name: movimiento-titulos;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  animation-delay: 0;
}
.inicio-container .textoimagencentro p {
  font-size: 1.5rem;
}
.inicio-container .textoimagencentro .boton-contratar {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  background-color: #ffde59;
}
.inicio-container .textoimagencentro .boton-contratar:hover {
  font-weight: bolder;
  transition: 1s;
  background-color: #e8c22c;
}
.inicio-container .texto-promo {
  font-size: 1.5rem;
  padding: 1rem;
  width: 60%;
  transform: translate(33%, -25%);
  border: 1px dotted white;
}

footer {
  background-color: #ffde59;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-top: 2px solid white;
}
footer .contacto {
  padding-top: 0.5rem;
}
footer .contacto ul li {
  list-style: none;
  position: relative;
  right: 1.5rem;
}
footer .contacto ul li a {
  color: black;
  text-decoration: none;
}
footer .contacto ul li a:hover {
  font-weight: bolder;
  transition: 1s;
}
footer .contacto ul li a img {
  width: 1rem;
}
footer .logofooter img {
  width: 10rem;
}

.servicios-main h1 {
  font-size: 3rem;
  animation-name: movimiento-titulos;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  animation-delay: 0;
}
.servicios-main .cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.servicios-main .cartas .card {
  margin: 1rem;
}
.servicios-main .cartas .card .card-body {
  color: white;
  background-image: linear-gradient(to bottom, #000000, #434343);
}
.servicios-main .cartas .card .card-body .card-title {
  font-size: 2rem;
  text-decoration: underline;
  animation-name: opacidadletras;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 1s;
}
.servicios-main .cartas .card .card-body .card-text {
  font-size: 1.5rem;
}
.servicios-main .cartas .card .card-body img {
  width: 5rem;
}
.servicios-main .cartas .card .card-body .boton-contratar {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  background-color: #ffde59;
}
.servicios-main .cartas .card .card-body .boton-contratar:hover {
  font-weight: bolder;
  transition: 1s;
  background-color: #e8c22c;
}
.servicios-main .proximamente img {
  width: 100%;
  height: 20rem;
  margin-top: 3rem;
  filter: blur(2px);
}
.servicios-main .proximamente h2 {
  font-size: 3rem;
  color: black;
  position: relative;
  bottom: 11rem;
  animation-name: escala;
  animation-iteration-count: 2;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 1s;
}

.sobrenosotros-main .texto-sobrenosotros h1 {
  font-size: 3rem;
  animation-name: movimiento-titulos;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  animation-delay: 0;
}
.sobrenosotros-main .texto-sobrenosotros p {
  font-size: 1.2rem;
}
.sobrenosotros-main video {
  transform: translate(40%, 40%);
}
.sobrenosotros-main .faq {
  padding: 2rem;
  margin-top: 2rem;
}
.sobrenosotros-main .faq .faq-titulo {
  padding-bottom: 1rem;
}
.sobrenosotros-main .faq .accordion {
  width: 80%;
  transform: translateX(12%);
}
.sobrenosotros-main
  .faq
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button {
  background-color: #ffde59;
}
.sobrenosotros-main
  .faq
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button:not(.collapsed) {
  background-color: #e8c22c;
  font-weight: bolder;
}
.sobrenosotros-main .faq .accordion .accordion-item .accordion-body {
  background-color: black;
  color: white;
}

.testimonios-main .titulo-testimonios {
  font-size: 3rem;
  padding-bottom: 2rem;
  animation-name: movimiento-titulos;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  animation-delay: 0;
}
.testimonios-main .cartas .cartas-arriba,
.testimonios-main .cartas .cartas-abajo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.testimonios-main .cartas .cartas-arriba .card,
.testimonios-main .cartas .cartas-abajo .card {
  background-image: linear-gradient(to bottom, #000000, #434343);
  color: white;
  margin: 1rem;
}
.testimonios-main .cartas .cartas-arriba .card .card-body .card-title,
.testimonios-main .cartas .cartas-abajo .card .card-body .card-title {
  align-items: center;
  font-size: 1.2rem;
}
.testimonios-main .cartas .cartas-arriba .card .card-body .card-title img,
.testimonios-main .cartas .cartas-abajo .card .card-body .card-title img {
  width: 3rem;
  padding-right: 1rem;
}
.testimonios-main .comentarios-gente {
  margin-top: 2rem;
}
.testimonios-main .comentarios-gente h2 {
  padding-bottom: 1rem;
}
.testimonios-main .comentarios-gente .formulario {
  width: 50%;
  position: relative;
  left: 25%;
}
.testimonios-main .comentarios-gente .formulario .form-control {
  background-color: #ffde59;
}
.testimonios-main .comentarios-gente .formulario .form-select {
  background-color: #ffde59;
}
.testimonios-main .comentarios-gente .formulario .label-fonts {
  font-size: 1.3rem;
}
.testimonios-main .comentarios-gente .formulario .boton-enviar {
  color: black;
  padding: 0.5rem;
  border-radius: 5px;
  animation-name: color-botones;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 1s;
}
.testimonios-main .comentarios-gente .formulario .boton-enviar:hover {
  font-weight: bolder;
  background-color: #e8c22c;
  transition: 1s;
}

.contacto-main .titulo-contacto {
  font-size: 3rem;
  animation-name: movimiento-titulos;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  animation-delay: 0;
}
.contacto-main .formulario {
  width: 50%;
  position: relative;
  left: 25%;
}
.contacto-main .formulario .form-control {
  background-color: #ffde59;
}
.contacto-main .formulario .form-select {
  background-color: #ffde59;
}
.contacto-main .formulario .label-fonts {
  font-size: 1.3rem;
}
.contacto-main .formulario .form-floating {
  margin: 1rem;
}
.contacto-main .formulario .servicios-contacto {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contacto-main .formulario .servicios-contacto .box-serv {
  width: 10rem;
  border: 2px solid white;
  background-color: #ffde59;
  color: black;
}
.contacto-main .formulario .servicios-contacto .box-serv img {
  width: 3rem;
}
.contacto-main .formulario .servicios-contacto .box-serv:hover,
.contacto-main .formulario .servicios-contacto .box-serv:active,
.contacto-main .formulario .servicios-contacto .box-serv:focus-visible {
  background-color: #e8c22c;
  font-weight: bolder;
  border: 2px dotted white;
  transition: 1s;
}
.contacto-main .formulario .pagos-contacto {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contacto-main .formulario .pagos-contacto .box-pagos {
  width: 10rem;
  height: auto;
  border: 2px solid white;
  background-color: #ffde59;
  color: black;
}
.contacto-main .formulario .pagos-contacto .box-pagos img {
  width: 3rem;
}
.contacto-main .formulario .pagos-contacto .box-pagos:hover,
.contacto-main .formulario .pagos-contacto .box-pagos:active,
.contacto-main .formulario .pagos-contacto .box-pagos:focus {
  background-color: #e8c22c;
  font-weight: bolder;
  border: 2px dotted white;
  transition: 0.5s;
}
.contacto-main .formulario .form-check-label a {
  color: white;
}
.contacto-main .formulario .form-check-label a:hover {
  font-weight: bolder;
}
.contacto-main .formulario .boton-enviar {
  color: black;
  padding: 0.5rem;
  border-radius: 5px;
  animation-name: color-botones;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 1s;
}
.contacto-main .formulario .boton-enviar:hover {
  font-weight: bolder;
  background-color: #e8c22c;
  transition: 1s;
}
.contacto-main .formulario h3 {
  animation-name: movimiento-titulos;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-delay: 0;
}

@media (max-width: 575.98px) {
  .inicio-container .carousel-item img {
    height: 20rem;
    width: 100%;
    transform: translateX(0);
  }
  .inicio-container .textoimagencentro {
    width: 100%;
    transform: translate(0, -160%);
  }
  .inicio-container .textoimagencentro h1 {
    font-size: 1rem;
  }
  .inicio-container .textoimagencentro p {
    font-size: 0.8rem;
  }
  .inicio-container .textoimagencentro .boton-contratar {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    background-color: #ffde59;
  }
  .inicio-container .textoimagencentro .boton-contratar:hover {
    font-weight: bolder;
    transition: 1s;
    background-color: #e8c22c;
  }
  .inicio-container .texto-promo {
    font-size: 1rem;
    width: 100%;
    transform: translate(0, -10%);
    border: 1px dotted white;
  }
  footer {
    justify-content: center;
  }
  footer .derecho {
    padding-bottom: 1rem;
  }
  .sobrenosotros-main video {
    width: 15rem;
    transform: translate(0, 5%);
  }
  .sobrenosotros-main .faq .accordion {
    width: 100%;
    transform: translateX(0);
  }
  .servicios-main .proximamente h2 {
    font-size: 2rem;
  }
  .testimonios-main .comentarios-gente .formulario {
    width: 90%;
    left: 1rem;
  }
  .contacto-main .titulo-contacto {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .contacto-main .formulario {
    width: 90%;
    left: 1rem;
  }
  .contacto-main .formulario .form-floating label {
    width: 80%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .inicio-container .carousel-item img {
    width: 100%;
    transform: translateX(0);
  }
  .inicio-container .textoimagencentro {
    width: 100%;
    transform: translate(0%, -220%);
  }
  .inicio-container .textoimagencentro h1 {
    font-size: 2rem;
  }
  .inicio-container .textoimagencentro p {
    font-size: 1.5rem;
  }
  .inicio-container .textoimagencentro .boton-contratar {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    background-color: #ffde59;
  }
  .inicio-container .textoimagencentro .boton-contratar:hover {
    font-weight: bolder;
    transition: 1s;
    background-color: #e8c22c;
  }
  .inicio-container .texto-promo {
    font-size: 1.5rem;
    width: 100%;
    transform: translate(0, -10%);
    border: 1px dotted white;
  }
  .sobrenosotros-main video {
    width: 20rem;
    transform: translate(0, 5%);
  }
  .testimonios-main .comentarios-gente .formulario {
    width: 90%;
    position: relative;
    left: 5%;
  }
  .contacto-main .titulo-contacto {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .inicio-container .carousel-item img {
    height: 30rem;
    transform: translateX(14%);
  }
  .inicio-container .textoimagencentro {
    transform: translate(60%, -170%);
  }
  .inicio-container .textoimagencentro h1 {
    font-size: 2rem;
  }
  .inicio-container .textoimagencentro p {
    font-size: 1.5rem;
  }
  .inicio-container .textoimagencentro .boton-contratar {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    background-color: #ffde59;
  }
  .inicio-container .textoimagencentro .boton-contratar:hover {
    font-weight: bolder;
    transition: 1s;
    background-color: #e8c22c;
  }
  .inicio-container .texto-promo {
    font-size: 1.5rem;
    width: 80%;
    transform: translate(15%, -15%);
    border: 1px dotted white;
  }
  .sobrenosotros-main video {
    width: 20rem;
    transform: translate(0, 5%);
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .inicio-container .textoimagencentro {
    transform: translate(85%, -200%);
  }
  .inicio-container .texto-promo {
    font-size: 1.5rem;
    width: 80%;
    transform: translate(13%, -20%);
    border: 1px dotted white;
  }
  .sobrenosotros-main video {
    width: 20rem;
    transform: translate(20%, 100%);
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .inicio-container .textoimagencentro {
    transform: translate(130%, -200%);
  }
  .inicio-container .texto-promo {
    transform: translate(35%, -15%);
  }
  .sobrenosotros-main video {
    width: 25rem;
    transform: translate(30%, 60%);
  }
}

/*# sourceMappingURL=style.css.map */
