@keyframes color-botones {
  0% {
    background-color: $colorbg;
  }

  50% {
    background-color: $colorbg-e;
  }

  100% {
    background-color: $colorbg;
  }
}

@keyframes opacidadletras {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
