@keyframes color-botones {
  0% {
    background-color: $colorbg;
  }

  50% {
    background-color: $colorbg-e;
  }

  100% {
    background-color: $colorbg;
  }
}

@keyframes opacidadletras {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes movimiento-titulos {
  from {
    transform: translateX(-300%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes escala {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
