// Color background clasico
$colorbg: #ffde59;
// Color background para cuando
// una funcion esta activa
$colorbg-e: #e8c22c;
// fuente de los titulos de cada html
$font-tit: 3rem;
// Fuente textos
$font-text: 1.5rem;
