@media (max-width: 575.98px) {
  // Inicio-Main
  .inicio-container {
    .carousel-item {
      img {
        height: 20rem;
      }
    }
    .textoimagencentro {
      position: relative;
      bottom: 15rem;
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }
      .boton-contratar {
        @include boton-contratar(1rem, 0.5rem);
      }
    }
    .texto-promo {
      font-size: 1rem;
      margin: 0 0;
      position: relative;
      bottom: 4rem;
      border: 1px dotted white;
    }
  }
  //   footer
  footer {
    justify-content: center;
    .derecho {
      padding-bottom: 1rem;
    }
  }
  // Sobrenosotros
  .sobrenosotros-main {
    video {
      width: 15rem;
      margin-top: 2rem;
      margin-left: initial;
    }
  }
  .servicios-main {
    .proximamente {
      h2 {
        font-size: 2rem;
      }
    }
  }
  .testimonios-main {
    .comentarios-gente {
      .formulario {
        width: 90%;
        left: 1rem;
      }
    }
  }
  .contacto-main {
    .titulo-contacto {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
    .formulario {
      width: 90%;
      left: 1rem;
      .form-floating {
        label {
          width: 80%;
        }
      }
    }
  }
}
