@media (min-width: 576px) and (max-width: 767.98px) {
  .inicio-container {
    .carousel-item {
      img {
        width: 100%;
        transform: translateX(0);
      }
    }
    .textoimagencentro {
      width: 100%;
      transform: translate(0%, -220%);
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1.5rem;
      }
      .boton-contratar {
        @include boton-contratar(1rem, 0.5rem, 0.8rem);
      }
    }
    .texto-promo {
      font-size: 1.5rem;
      width: 100%;
      transform: translate(0, -10%);
      border: 1px dotted white;
    }
  }
  .sobrenosotros-main {
    video {
      width: 20rem;
      transform: translate(0, 5%);
    }
  }
  .testimonios-main {
    .comentarios-gente {
      .formulario {
        width: 90%;
        position: relative;
        left: 5%;
      }
    }
  }
  .contacto-main {
    .titulo-contacto {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
  }
}
