@media (max-width: 575.98px) {
  // Inicio-Main
  .inicio-container {
    .carousel-item {
      img {
        height: 20rem;
        width: 100%;
        transform: translateX(0);
      }
    }
    .textoimagencentro {
      width: 100%;
      left: 0;
      bottom: 15rem;
      // transform: translate(0, -160%);
      h1 {
        font-size: 1rem;
      }
      p {
        font-size: 0.8rem;
      }
      .boton-contratar {
        @include boton-contratar(0.8rem, 0.5rem, 0.8rem);
      }
    }
    .texto-promo {
      font-size: 1rem;
      width: 100%;
      transform: translate(0, -10%);
      border: 1px dotted white;
    }
  }
  //   footer
  footer {
    justify-content: center;
    .derecho {
      padding-bottom: 1rem;
    }
  }
  // Sobrenosotros
  .sobrenosotros-main {
    video {
      width: 15rem;
      transform: translate(0, 5%);
    }
    .faq {
      .accordion {
        width: 100%;
        transform: translateX(0);
      }
    }
  }
  .servicios-main {
    .proximamente {
      h2 {
        font-size: 2rem;
      }
    }
  }
  .testimonios-main {
    .comentarios-gente {
      .formulario {
        width: 90%;
        left: 1rem;
      }
    }
  }
  .contacto-main {
    .titulo-contacto {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
    .formulario {
      width: 90%;
      left: 1rem;
      .form-floating {
        label {
          width: 80%;
        }
      }
    }
  }
}
