@media (max-width: 575.98px) {
  // Inicio-Main
  .inicio-container {
    .carousel-item {
      img {
        height: 20rem;
      }
    }
    .textoimagencentro {
      position: relative;
      bottom: 15rem;
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }
      .boton-contratar {
        @include boton-contratar(1rem, 0.5rem);
      }
    }
    .texto-promo {
      font-size: 0.5rem;
      margin: 0 0;
      position: relative;
      bottom: 6rem;
      border: 1px dotted white;
    }
  }
  //   footer
  footer {
    justify-content: center;
    .derecho {
      padding-bottom: 0.5rem;
    }
  }
}
