@media (min-width: 992px) and (max-width: 1199.98px) {
  .inicio-container {
    .textoimagencentro {
      // transform: translate(85%, -200%);
      left: 22rem;
    }
    .texto-promo {
      font-size: 1.5rem;
      width: 80%;
      transform: translate(13%, -20%);
      border: 1px dotted white;
    }
  }
  .sobrenosotros-main {
    video {
      width: 20rem;
      transform: translate(20%, 100%);
    }
  }
}
