.servicios-main {
  h1 {
    font-size: $font-tit;
    @include animations(movimiento-titulos, 1, ease-out, 2s, 0);
  }
  .cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
      margin: 1rem;
      .card-body {
        color: white;
        background-image: linear-gradient(to bottom, #000000, #434343);
        .card-title {
          font-size: 2rem;
          text-decoration: underline;
          @include animations(opacidadletras, infinite, ease-in, 3s, 1s);
        }
        .card-text {
          font-size: $font-text;
        }
        img {
          width: 5rem;
        }
        .boton-contratar {
          @include boton-contratar(1.2rem, 0.5rem, 1rem);
        }
      }
    }
  }
  .proximamente {
    img {
      width: 100%;
      height: 20rem;
      margin-top: 3rem;
      filter: blur(2px);
    }
    h2 {
      font-size: $font-tit;
      color: black;
      position: relative;
      bottom: 11rem;
      animation-name: escala;
      animation-iteration-count: 2;
      animation-timing-function: ease-in;
      animation-duration: 3s;
      animation-delay: 1s;
    }
  }
}
