.sobrenosotros-main {
  .texto-sobrenosotros {
    h1 {
      font-size: $font-tit;
      animation-name: movimiento-titulos;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: 2s;
      animation-delay: 0;
    }
    p {
      font-size: 1.2rem;
    }
  }
  video {
    transform: translate(40%, 40%);
  }
  .faq {
    padding: 2rem;
    margin-top: 2rem;
    .faq-titulo {
      padding-bottom: 1rem;
    }
    .accordion {
      width: 80%;
      transform: translateX(12%);
      .accordion-item {
        .accordion-header {
          .accordion-button {
            background-color: $colorbg;
            &:not(.collapsed) {
              background-color: #e8c22c;
              font-weight: bolder;
            }
          }
        }
        .accordion-body {
          background-color: black;
          color: white;
        }
      }
    }
  }
}
