@mixin boton-contratar($font, $paddTB, $paddLR) {
  font-size: $font;
  padding: $paddTB $paddLR;
  // paddTB (TOP BOTTOM) paddLR (Left Right)
  border-radius: 5px;
  color: black;
  text-decoration: none;
  background-color: $colorbg;
  &:hover {
    font-weight: bolder;
    background-color: $colorbg-e;
    transition: 1s;
  }
}

@mixin boton-enviar {
  background-color: $colorbg;
  color: black;
  padding: 0.5rem;
  border-radius: 5px;
  &:hover {
    font-weight: bolder;
    background-color: $colorbg-e;
    transition: 1s;
  }
}
