@mixin boton-contratar($font, $padd) {
  font-size: $font;
  padding: $padd;
  border: 1px solid $colorbg;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  background-color: $colorbg;
  &:hover {
    font-weight: bolder;
    background-color: $colorbg-e;
    border: 1px dotted $colorbg-e;
    transition: 1s;
  }
}

@mixin boton-enviar {
  background-color: $colorbg;
  color: black;
  padding: 0.5rem;
  border-radius: 5px;
  &:hover {
    font-weight: bolder;
    background-color: $colorbg-e;
    transition: 1s;
  }
}
