@mixin boton-contratar($font, $paddTB, $paddLR) {
  font-size: $font;
  padding: $paddTB $paddLR;
  // paddTB (TOP BOTTOM) paddLR (Left Right)
  border-radius: 5px;
  color: black;
  text-decoration: none;
  background-color: $colorbg;
  &:hover {
    font-weight: bolder;
    transition: 1s;
    background-color: $colorbg-e;
  }
}

@mixin boton-enviar {
  color: black;
  padding: 0.5rem;
  border-radius: 5px;
  animation-name: color-botones;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 1s;
  &:hover {
    font-weight: bolder;
    background-color: $colorbg-e;
    transition: 1s;
  }
}
