* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Playfair Display", serif;
}

main {
  background-image: url(/IMG/background-01.jpg);
  color: white;
  padding: 2rem 0;
}
