* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Playfair Display", serif;
}

main {
  /* Pienso cambiar el background pero no he 
  encontrado el fondo que sea adecuado */
  background-color: #121212;
  color: white;
  padding: 2rem 0;
}
